@import 'theme';

#header {
	background-color: $header-bg-color !important;

	*, a:active {
		color: $secondary-text-color;
	}

}

#header, .mobile-container {
	.title {
		font-family: Montserrat, sans-serif;
	}
}

#footer {
	background-color: $footer-bg-color !important;

	* {
		color: $secondary-text-color;
	}
}

// todo: move somewhere else
.header-dark #header {
	a {
		color: rgba(255, 255, 255, .7) !important;
	}

	a.active {
		color: #FFFFFF !important;
	}
}

.owl-carousel {
	.btn {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}